/* GENERELLE INDSTILLINGER */


body {
    background-color: #E5E5E5;
    margin: 0;
}

img {
    width: 100%;
}

* {
    box-sizing: border-box;
}

h1 {
    font-family: montserrat, sans-serif;
    font-style: Light;
    font-weight: 100;
    text-align: center;
}

h2 {
    font-family: montserrat, sans-serif;
    font-style: normal;
    font-weight: 550;
}

p {
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 200
}

.read_more {
    border: none;
    background-color: #8C2020;
    padding: 1rem 2.5rem 1rem 2.5rem;
    color: white;
}































































































/* KAT */







































































































































































































/* AMALIE */


/* Teamet Loopview */

.person {
    cursor: pointer;
    padding: 34px;
    margin: auto;
}

.person img:hoved {
    opacity: 0.6;
}

.team_liste {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    padding: 20px 50px;
    flex-direction: row-reverse;
}

.team_stilling {
    text-align: center;
    margin: 7px 0 0 0;
    font-size: 0.9rem;
    font-style: italic;
}

.team_navn {
    text-align: center;
    margin: 7px 0 0 0;
    font-size: 1.3rem;
    line-height: 20px;
}


@media only screen and (min-width: 650px) {
    .team_liste {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}





































































































































































































/* MICHELLE */







































































































































































































/* SYLLE */
